################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S3toDynamodb-BulkUpload/.vs
/S3toDynamodb-BulkUpload/bin
/S3toDynamodb-BulkUpload/obj
/ParkingEventProcessorLambda/.vs
/ParkingEventProcessorLambda/bin
/ParkingEventProcessorLambda/obj
